body {
  padding: 40px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  line-height: 1.9rem;
  background-color: rgb(216, 255, 145);
}
.container {
  width: 550px;
  background-color: white;
  padding: 4px 16px;
  margin-left: 300px;
  margin-bottom: 16px;
  border-radius: 4px;
  box-shadow: 4px 4px 8px rgb(170, 248, 45);
  cursor: pointer;
}
.qstn {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.icon {
  margin-right: 16px;
  transition: transform 0.2s;
}
.icon.active {
  transform: rotate(-180deg);
}
.ans {
  max-height: 0;
  overflow: hidden;
  transition: transform 0.2s;
  color: rgb(106, 105, 105);
}
